* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	margin: 0 auto;
	width: 100%;
}
main {
	background-color: #ff9800;
	min-height: 50px;
	padding: 3%;
}
.article {
	font-size: 215%;
}
p {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10px;
	
}
.london, .paris, .tokyo {
	width: 31.33%;
	min-height: 50px;
	margin: 1%;
	float: left;
}
.name {
	font-size: 150%;
	margin-left: 10px;
}
img {
	width: 97%;
	margin: 1% 1% 8% 1%;
}
.clear {
	clear: both;
}
@media screen and (max-width: 960px) {
	.london, .tokyo, .paris {
		width: 100%;
		margin: 3%;
	}
	img {
		width: 48%;
		float: left;
	}
}

@media screen and (max-width: 480px) {
	.london, .tokyo, .paris {
		width: 100%;
	}
}